  <div class="form-cliente">

  <form [formGroup]="formulario">

    <table>

      <tr>

        <td>
          <mat-form-field class="example-form-field" appearance="fill">

            <mat-label for="first-name">Pedido: </mat-label>
            <input matInput  id="cliente-pedido" type="text" formControlName="pedido">

          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-form-field" appearance="fill">

            <mat-label for="last-name">Cliente: </mat-label>
            <input matInput  id="cliente-clinte" type="text" formControlName="cliente">

          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-form-field" appearance="fill">

            <mat-label for="last-name">Vendedor: </mat-label>
            <input matInput  id="cliente-vendedor" type="text" formControlName="vendedor">

          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-form-field" appearance="fill">

            <mat-label for="last-name">Valor: </mat-label>
            <input matInput  id="cliente-valor" type="text" formControlName="valor">

          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-form-field" appearance="fill">

            <mat-label for="last-name">Link: </mat-label>
            <input matInput  id="cliente-link" type="text" formControlName="link">

          </mat-form-field>
        </td>

      </tr>

    </table>

    <div class="btn-gravar-cliente">

      <button mat-stroked-button color="primary" (click)="onSubmit()">
        <mat-icon aria-hidden="false" aria-label="Icone add botao gravar" fontIcon="add"></mat-icon>Gravar
      </button>

    </div>

  </form>

</div>

