<div class="form-cliente">

  <form [formGroup]="formulario" fxLayout="row wrap" fxLayout.md="column wrap" fxLayout.sm="column wrap" fxLayout.xs="column wrap" fxLayoutGap="7px">

    <mat-form-field fxFlex="9" appearance="fill">

      <mat-label for="first-name">Pedido: </mat-label>
      <input matInput id="cliente-pedido" type="text" formControlName="pedido">

    </mat-form-field>

    <mat-form-field fxFlex="39" appearance="fill">

      <mat-label for="last-name">Cliente: </mat-label>
      <input matInput id="cliente-clinte" type="text" formControlName="cliente">

    </mat-form-field>

    <mat-form-field fxFlex="39" appearance="fill">

      <mat-label for="last-name">Vendedor: </mat-label>
      <input matInput id="cliente-vendedor" type="text" formControlName="vendedor">

    </mat-form-field>

    <mat-form-field fxFlex="9" appearance="fill">

      <mat-label for="last-name">Valor: </mat-label>
      <input matInput id="cliente-valor" type="text" formControlName="valor"
      >

    </mat-form-field>

    <mat-form-field fxFlex="48.5" appearance="fill">

      <mat-label for="last-name">Link: </mat-label>
      <input matInput id="cliente-link" type="text" formControlName="link">

    </mat-form-field>

    <mat-form-field fxFlex="48.5" appearance="fill">

      <mat-label for="last-name">TXID: </mat-label>
      <input matInput id="cliente-txid" type="text" formControlName="txid">

    </mat-form-field>

    <mat-form-field  fxFlex="98" appearance="fill">

      <mat-label for="last-name">Link PIX: </mat-label>
      <input matInput id="cliente-link-pix" type="text" formControlName="pix">

    </mat-form-field>

    <div fxLayoutAlign="end" fxFlexFill>

      <button mat-stroked-button color="primary" (click)="onSubmit()" style="margin-right: 32px;">
        <mat-icon aria-hidden="false" aria-label="Icone add botao gravar" fontIcon="add"></mat-icon>Gravar
      </button>

    </div>

  </form>

  <mat-tab-group>

    <mat-tab label="Lista de Pedido">
      <app-tabela-pedido [cliente]="cliente" (clienteData)="emiteCliente( $event )"></app-tabela-pedido>
    </mat-tab>

    <mat-tab label="Lista de Clientes">
      <app-tabela-pedido [cliente]="cliente" (clienteData)="emiteCliente( $event )"></app-tabela-pedido>
    </mat-tab>

  </mat-tab-group>
</div>
