
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <ng-container matColumnDef="pedido">
    <th mat-header-cell *matHeaderCellDef> Pedido </th>
    <td mat-cell *matCellDef="let cliente"> {{cliente.pedido}} </td>
  </ng-container>

  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef> Cliente </th>
    <td mat-cell *matCellDef="let cliente"> {{cliente.cliente}} </td>
  </ng-container>

  <ng-container matColumnDef="vendedor">
    <th mat-header-cell *matHeaderCellDef> Vendedor </th>
    <td mat-cell *matCellDef="let cliente"> {{cliente.vendedor}} </td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let cliente"> {{cliente.valor  | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef> Link </th>
    <td mat-cell *matCellDef="let cliente">
      <div style="display: flex; justify-content: start;">
        <span> {{cliente.link }} </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="qrcode">
    <th mat-header-cell *matHeaderCellDef> QRCode</th>
    <td mat-cell *matCellDef="let cliente">
      <div style="display: flex; justify-content: start;">
        <span>
          <qrcode [qrdata]="'{{cliente.qrcode}}'" *ngIf="cliente.qrcode"  [width]="50" [errorCorrectionLevel]="'M'"></qrcode>
        </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="pix">
    <th mat-header-cell *matHeaderCellDef> Link PIX</th>
    <td mat-cell *matCellDef="let cliente">
      <div style="display: flex; justify-content: start;">
        <span> {{cliente.pix }} </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="txid">
    <th mat-header-cell *matHeaderCellDef> TXID</th>
    <td mat-cell *matCellDef="let cliente">
      <div style="display: flex; justify-content: start;">
        <span> {{cliente.txid }} </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let cliente">

      <button mat-icon-button color="primary" aria-label="icone gerar link cobrança" matTooltip="Gerar link">
        <mat-icon (click)="gerarLink( cliente )" >publish</mat-icon>
      </button>

      <button mat-icon-button color="primary" aria-label="icone gerar link cobrança" matTooltip="Consultar link">
          <mat-icon (click)="consultarLink( cliente )">add_link</mat-icon>
      </button>

      <button mat-icon-button color="primary" aria-label="icone gerar link cobrança" matTooltip="Pix Cobrança link">
        <mat-icon (click)="geraPixCobranca( cliente )">contacts</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-spinner *ngIf="cliente.process" [diameter]="15"></mat-spinner>
    </button>
  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunas"></tr>
  <tr mat-row *matRowDef="let row; columns: colunas;" (dblclick)="setLine( row )"></tr>

</table>

<mat-paginator [length]="recordLength" [pageSizeOptions]="[1,2,3]" [pageIndex]="0" pageSize="2" showFirstLastButtons  aria-label="Selecionar página de elementos periódicos"></mat-paginator>
