<div class="div-titulo">

  <div class="div-titulo-sub">
    <h1 class="h1-titulo">Gerar Link de Cobrança</h1>
    <button mat-fab color="primary" (click)="onClick()">
      <mat-icon aria-hidden="false" aria-label="cadastro um novo cliente" [fontIcon]="showTabela ? 'add' : 'arrow_back'"></mat-icon>
    </button>
  </div>

  <br>

  <mat-divider></mat-divider>

</div>

<app-tabela fxFlexFill *ngIf="showTabela" [dataSource]="clientes" [recordLength]="recordLength"
  (linhaTabela)     ="clickLinha($event)"
  (geraLinkCob)     ="gerarLink( $event )"
  (consultaLinkCob) ="consultarLink( $event )"
  (pixCobranca)     ="gerarPixCob( $event )"
  (paginacao)       ="objMatPag($event)"

  > </app-tabela>

<app-formulario [formulario]="clienteForm" *ngIf="!showTabela" (clienteFrm)="setCliente($event)" (clienteEmit)="emitCliente($event)"></app-formulario>
