/* You can add global styles to this file, and also import other style files */

@import '@angular/material/theming';
@include mat-core;

$custon-app-primary: mat-palette($mat-blue);
$custon-app-secundary: mat-palette($mat-indigo);
$custon-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custon-app-primary, $custon-app-secundary, $custon-app-warn);

@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
